<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CAR WITH IT DEPENDECIES</title>
</head>
<body>
<form method="get" action="/web-app/sto">
    <button type="submit">На главную страницу</button>
</form>
<form id="car" method="get">
    <input name="id" type="text" th:value= "${card.id}" id="id" hidden="true"/>
</form>
<br>
<button type="submit" form="car" formaction="/web-app/update_form" >ИЗМЕНИТЬ</button>
<button type="submit" form="car" formaction="/web-app/delete_car" >УДАЛИТЬ</button>
<h1>Учетная запись автомобиля c ID = <t th:text="${card.id}" /> найдена</h1>
<p th:text="'Марка машины: ' + ${card.nameCar}" />
<p th:text="'Владелец: ' + ${card.nameOwner}" />
<p th:text="'Пробег: ' + ${card.mileage}" />
<p th:text="'Мощность: ' + ${card.power}" />
<br>
<br>
<div th:if= "${card.order != null}">
<h2 style="background-color:aqua">СЧЕТ:
    <p th:text="'ID: ' + ${card.order.id}" />
    <p th:text="'Имя клиента: ' + ${card.order.firstNameClient}" />
    <p th:text="'Номер телефона: ' + ${card.order.phoneNumber}" />
    <p th:text="'Бонус: ' + ${card.order.volumeBonus}" />
    <p th:text="'Счет: ' + ${card.order.bill}" />
</h2>
    <h1>Список рабов, которые работают с этой машиной:</h1>
    <div th:if= "${card.order.listWorker != null}">
        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>имя</th>
                <th>фамилия</th>
                <th>номер телефона</th>
                <th>премия</th>
                <th>должность</th>
            </tr>
            <tr th:each="worker : ${card.order.listWorker}">
                <td th:text="${worker.id}">Nothing</td>
                <td th:text="${worker.firstName}">Nothing</td>
                <td th:text="${worker.secondName}">Nothing</td>
                <td th:text="${worker.phoneNumber}">Nothing</td>
                <td th:text="${worker.bonus}">Nothing</td>
                <td th:text="${worker.position.status}">Nothing</td>
            </tr>
        </table>
    </div>
</div>
<br>
<div th:if="${not #lists.isEmpty(card.details)}">
<h1>Список деталей для этого автомобиля:</h1>
    <table border="1" width="100%" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>назавнаие детали</th>
            <th>номер детали</th>
            <th>цена закупки, р</th>
            <th>наценка, %</th>
        </tr>
        <tr th:each="detail : ${card.details}">
            <td th:text="${detail.id}">Nothing</td>
            <td th:text="${detail.name}"></td>
            <td th:text="${detail.partNumber}">Nothing</td>
            <td th:text="${detail.purchasePrice}">Nothing</td>
            <td th:text="${detail.extraCharge}">Nothing</td>
        </tr>
    </table>
</div>
<br>
<br>
<br>
</body>
</html>